.contacts {
    margin: 0 auto;
}

.title {
    margin: 0 0 40px;
    text-align: center;
}

.table {
    border: 1px solid #2d3250;
    border-spacing: 5px;
    border-radius: 5px;
    margin: 0 auto;
}

.header {
    width: 200px;
    border: 1px solid #2d3250;
    border-radius: 5px;
}

.cell td {
    width: 200px;
    border: 1px solid #2d3250;
    border-radius: 5px;
    padding-left: 5px;
}

.btn__style {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    cursor: pointer;
    opacity: 1;
    background-color: #dedede;
}

.cell td:nth-last-child(2) {
    width: 30px;
    border: none;
    background-image: url("../../images/karandash.svg");
}

.cell td:nth-last-child(1) {
    width: 30px;
    border: none;
    background-image: url("../../images/delete.svg");
}

.cell td:nth-last-child(2):hover, .cell td:nth-last-child(1):hover {
    opacity: 0.6;
    transition: opacity .2s ease .1s;
    cursor: pointer;
}



